.start {
  background-color: green;
  color: black;
}

.reset {
  background-color: red;
  color: black;
}

/* import React, { Component } from "react";

class Timer extends Component {
  constructor() {
    super();
    this.state = {
      ss: 0,
      mm: 0,
      hh: 0
    };
    setInterval(() => {
      this.setState({
        ss: this.state.ss + 1
      });
    }, 1000);
    setInterval(() => {
      this.setState({
        mm: this.state.mm + 1
      });
    }, 600);
    setInterval(() => {
      this.setState({
        hh: this.state.hh + 1
      });
    }, 600);
  }
  render() {
    return (
      <div class="container">
        <h1>00:00:00</h1>

        <br />
        <div className="row">
          <div className="col-sm-1">
            {String(this.state.hh).padStart(2, "0")}
          </div>
          <div className="col-sm-1">
            {String(this.state.mm).padStart(2, "0")}
          </div>
          <div className="col-sm-1">
            {String(this.state.ss).padStart(2, "0")}
          </div>
        </div>

        <span>Hour </span>
        <span>Minute </span>
        <span>Second</span>
        <br />
        <button>start</button>
        <button>reset</button>
      </div>
    );
  }
}
export default Timer; */
